.column-two {
    max-width: 79%;
    padding: 0;
}

.middle-content-wrapper {
    background-color: #f7f8fc;
    padding-top: 2em;

    .middle-content-overview-heading {
        max-width: 74%;

        .overview-btn {
            background: #3259e4;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 5px;
            font-size: 0.9em;
        }

        .overview-heading {
            font-size: 1.2em;
            font-weight: 600;
        }
    }

    li {
        list-style-type: none;
    }

    .overview-content {
        margin-top: 1em;
        border-radius: 10px;
        display: grid;
        gap: 1em;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 8em;

        .profile-overview-wrapper {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            border-radius: 10px;

            .profile-overview-content {
                display: flex;
                justify-content: center;
                align-items: center;

                .profit-percent {
                    font-weight: 600;
                }
            }

        }

        img {
            width: 5em;
            height: 5em;
        }

        .market-size-content {
            display: flex;
            border-right: 1px solid #f3f3f3;
            padding-right: 1em;

            .heading {
                font-weight: 600;
                font-size: 0.9em;
            }

            .span-right {
                border: none;
            }

            ul {
                padding-left: 1em;
            }

            .total {
                font-size: 1.8em;
                font-weight: 600;
            }
        }

        .span-right {
            border-right: none;
        }

        .production-this-year-graph {
            border-radius: 10px;

            .production-this-year {
                padding: 20px 20px 0px 20px;

                .heading {
                    font-size: 0.9em;
                    font-weight: 600;
                }
            }



            ul {
                padding-left: 0;
            }
        }
    }

}