.column-two {
    padding: 1.5em;
}

.middle-content-wrapper {
    background-color: #f7f8fc;

    .middle-content-overview-heading {

        .overview-btn {
            background: #3259e4;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 5px;
            font-size: 0.9em;
        }

        .overview-heading {
            font-size: 1.2em;
            font-weight: 600;
        }
    }

    li {
        list-style-type: none;
    }

    .overview-content {
        margin-top: 1em;
        border-radius: 10px;

        .profile-overview-wrapper {
            border-radius: 10px;

            .profile-overview-content {
                display: flex;
                justify-content: center;
                align-items: center;

                .profit-percent {
                    font-weight: 600;
                }
            }

            .span-class {
                border-right: 1px solid #f3f3f3;
                border-left: 1px solid #f3f3f3;
                width: 100%;
            }

            .grid-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .market-size-content {
            display: flex;
            padding-right: 1em;
            height: 80px;

            .heading {
                font-weight: 600;
                font-size: 0.9em;
                padding-bottom: 7%;
            }

            .span-right {
                border: none;
            }

            ul {
                padding-left: 1em;
            }

            .total {
                font-size: 1.8em;
                font-weight: 600;
            }
        }

        .span-right {
            border-right: none;
        }

        .production-this-year-graph {
            border-radius: 10px;
            padding-left: 1.4em;

            .production-this-year {
                padding: 20px 20px 0px 20px;

                .heading {
                    font-size: 0.8em;
                    font-weight: 600;
                }

                .profite-percent {
                    font-size: 1.5em;

                }

            }



            ul {
                padding-left: 0;
            }
        }
    }

}