.second-row {
    .second-row-wave-graph-wrapper {
        border-radius: 10px;

        .wave-graph {
            position: relative;

            .graph-tooltip {
                padding: 10px;
                background-color: white;
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 1em;
                position: absolute;
                box-sizing: border-box;
                left: 43%;
                top: -25%;
                z-index: 99;
                box-shadow: 2px 2px 20px #dddcdc;
                border-radius: 2%;
                // width: 28vmin;
                // height: 15vmin;

                .tooltip-info {
                    font-weight: 900;
                    margin: 0;
                }

                small {
                    color: #cccdd1;
                    font-size: 0.8em;
                }

                .red {
                    color: #ed675c;
                }

                .purple {
                    color: #ab65fa;
                }

                .blue {
                    color: #29c6b0;
                }

                .bottom-arrow {
                    width: 0;
                    height: 0;
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-top: 15px solid white;
                    position: absolute;
                    bottom: -7%;
                    left: 45%;
                    z-index: 99;
                }

            }
        }

        .second-row-wave-graph-content {
            .years {
                color: #b3b5c4;
            }

            .yearly-dropdown {
                border: 1px solid #b3b5c4;
                padding: 0.3em 1em;
                border-radius: 3px;
            }
        }

    }

    .second-row-graph-wrapper {
        padding-left: 1.4em;

        .heading {
            font-size: 0.8em;
        }

        .commission-year-wrapper {
            padding-bottom: 1em;
        }
    }

    .commission-this-year-chart {
        padding: 1em 1em 0 1em;

        ul {
            padding-left: 0 !important;

            li {
                list-style-type: none;
            }

            .profite-percent {
                font-size: 1.5em;
            }

        }
    }

    .monthly-visit-chart {
        padding: 1em 1em 0 1em;

        ul {
            padding-left: 0 !important;

            li {
                list-style-type: none;
            }

            .profite-percent {
                font-size: 1.5em;

                .span-class {
                    font-size: 0.5em;
                }
            }
        }
    }

}