.third-row {
    .world-map {
        max-width: 100%;
    }

    .activities {
        padding: 2em;

        .activities-heading {
            display: flex;
            justify-content: space-between;

            a {
                text-decoration: none;
            }
        }

        .activity-list {
            display: flex;
            padding: 0.8em 0;

            .activity-image {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #3259e4;
            }

            .activity-content {
                padding-left: 1em;

                p {
                    margin: 0;
                    font-size: 0.9em;
                }
            }
        }
    }

    .global-sales {
        padding: 2em;

        .global-sales-content {
            padding-top: 2em;

            img {
                width: 0.8em;
                height: 0.8em;
            }

            p {
                font-size: 0.8em;
                margin-bottom: 0;

                img {
                    padding-right: 10px;
                }
            }

            .global-sale-list {
                display: flex;
                align-items: center;
                padding-bottom: 1em;
            }
        }
    }

    .doughnut-chart-section {
        padding: 2em;

        .donut-chart {
            width: 80%;
            height: 80%;
            margin: auto;
        }
    }
}

// Equal Height Column Bootstrap

.row.equal-cols {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.equal-cols:before,
.row.equal-cols:after {
    display: block;
}

.row.equal-cols>[class*='col-'] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.row.equal-cols>[class*='col-']>* {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}