@import 'header';
@import 'aside';
@import 'middle-content';
@import 'second-row';
@import 'third-row';
// @import 'variable';
// @import 'utilities';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-wrapper {
    background: #f7f8fc;
}

body {
    overflow-x: hidden;
    font-family: "Poppins";
}

.sub-heading {
    font-weight: 600;
}